<div class="container">
    <div class="form">
        <div class="contact-info">
            <h3 font-size:50px align="center" class="title" style="color: black;">Let's get in touch</h3><br><br><br>

           <div style="margin-left: 25%;"><img src="assets\image\contactus.jpg"></div><br><br><br><br><br><br>


            <p class="text" style="font-size: medium; text-decoration: solid;">
                At Insurance Pay, it is our constant endeavour to provide great customer experience. In case you require assistance,
                    we have created multiple ways to reach out to us. We commit to resolving your queries to your satisfaction.
            </p>
            <br><br><br><br><br><br><br><br>

            <div class="info">
                <div class="information" >
                    <p style="color: darkblue;">Mind Space, Airoli, Navi Mumbai, Maharashtra 400708</p>
                </div>
                <div class="information">
                    
                      
                </div>
                <div class="information">
                    <p style="color: darkblue;">8870099725</p>
                </div><br>

                <a href="https://www.google.com/search?gs_ssp=eJzj4tTP1TcwK8kwS1JgNGB0YPBizinJBAA0FwTh&q=lti&oq=lti&aqs=chrome.1.69i57j46i67i199i291i433j0i67l2j0i131i433i512j46i175i199i512j0i67j0i433i512j0i512j0i433i512.4517j0j15&sourceid=chrome&ie=UTF-8">Visit LTI!</a> 


            </div>
        </div>
        <br><br>

        
    </div>
</div>


