<div class="container">

    <h1>Welcome to LTI Vechile-Insurance</h1>
  
    <p style="margin-left: 80%;">policy Number : &nbsp; {{pnumber}} </p>
    
    
  
  <br><br><br>
  
  <div >
    <p ><button class="btn-primary" type="submit" (click)="buyinsuranceroute()" >Buy Insurance</button></p>
   </div>
   <br><br>
  
  
    <div >
      <p ><button class="btn-primary" type="submit" (click)="claimroute()" >Claim Insurance</button></p>
     </div>
     <br><br>
  
  
       <div >
          <p> <button class="btn-primary" type="submit" (click)="renewroute()" >Renew Insurance</button></p>
           </div>
           <br><br>
  
  
  
           <div >
              <p> <button class="btn-primary" type="submit" (click)="calculatorroute()" >Premium calculator</button></p>
               </div>
               <br><br>
  
               <div >
                <p style="color: #5d6a9b;">Pending payment? <button type="submit" (click)="paymentroute()" >complete payment</button></p>
                 </div>
              
   </div>
  
  
