<div class="container">
    <h1 font-size:50px align="center" style="color: black;">LTI VECHILE-INSURANCE</h1><br><br>



<div style="margin-left: 70%;margin-bottom: 15%;"> <img src="assets\image\vi.jpg"> </div>


<h1 style="    margin-top: -28%;">Vechile Insurance </h1>

<h2>Start's from 890* | 24/7 Claim Support</h2>

<marquee  style="color: rgb(5, 5, 5);" width="60%" direction="left" height="100px">
    Award from Business Today in 2020 Best Motor Insurer
    </marquee>

    <h1 font-size:40px align ="center">       Why do our customers love us?</h1>
    <h2 font-size:5px>LTI Insurance is one of the most reliable general insurance companies in the market. 
        Bike insurance is one of our most popular products with a legion of happy and loyal customers. </h2>

</div>
